In [1]:
x = [1,2,3,4,5,6]
y = ['a', 'b', 'c', 'd', 'e', 'f']
z = [2.1, 3.2, 4.3, 5.4, 6.5, 7.6]

In [2]:
dict1 = {'ints': x, 'strs': y, 'flts': z}
dict1

{'ints': [1, 2, 3, 4, 5, 6],
 'strs': ['a', 'b', 'c', 'd', 'e', 'f'],
 'flts': [2.1, 3.2, 4.3, 5.4, 6.5, 7.6]}

In [3]:
import pandas as pd
df1 = pd.DataFrame(dict1)
df1

   ints strs  flts
0     1    a   2.1
1     2    b   3.2
2     3    c   4.3
3     4    d   5.4
4     5    e   6.5
5     6    f   7.6

In [14]:
df1['ints'][5]

np.int64(6)

In [16]:
ints = df1['ints']

In [17]:
ints

0    1
1    2
2    3
3    4
4    5
5    6
Name: ints, dtype: int64

In [18]:
ints[1:3]

1    2
2    3
Name: ints, dtype: int64

In [19]:
df1['ints'][1:3]

1    2
2    3
Name: ints, dtype: int64